<br>
<div>
  <div>
    <br>
    <h1 class="mat-display-2">Welcome to Caring Together</h1>
    <mat-divider></mat-divider>
    <br>
    <h2 class="mat-title">About</h2>
  </div>
  <div class ="wrapper">
  <p class="mat-body">Caring Together is an application that supports
    caregiving by providing a suite of functionality that can be used to manage
  the day to day role of caring for someone. </p>
    <mat-icon>timeline</mat-icon>
    <p class="mat-body">
      Speed up your working day with easy management, planning, and coordination
    </p>
    <mat-icon>healing</mat-icon>
    <p class="mat-body">
      Make medication easy with built in monitoring, medication tracking, and health stats
    </p>
    <mat-icon>class</mat-icon>
    <p class="mat-body">
      Create journal logs to track all activities performed
    </p>
    <mat-icon>file_copy</mat-icon>
    <p class="mat-body">
      Upload documents, images, and videos to share them easily with other caregivers.
    </p>
  </div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div class="row">
  <div class="column">
    <br>
    <mat-card class="width-card centre mat-elevation-z3" [routerLink]="['login']">
      <mat-card-header class="centre">
        <mat-card-title>
          Log in
        </mat-card-title>
        <mat-card-subtitle>If you already have an account</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="column">
    <br>
    <mat-card class="width-card centre mat-elevation-z3" [routerLink]="['register']">
      <mat-card-header>
        <mat-card-title>
          Register
        </mat-card-title>
        <mat-card-subtitle>If you don't have an account</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
